<nav>
  <div class="nav-wrapper blue">
    <center><a href="#!" class="brand-logo">Facturas</a></center>
    <ul class="right hide-on-med-and-down">
      <li>{{#link-to 'crear-factura'}}Crear Factura{{/link-to}}</li>
      <li>{{#link-to 'lista-facturas'}}Lista Factura{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="conteiner">
  <div class="card-panel">
    {{outlet}}
  </div>
</div>
